@font-face {
  font-family: landingFont;
  src: url(../public/fonts/AcuminVariableConcept.otf);
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: landingFont;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navbarTextColor{
  color: black !important;
}

.video-responsive {
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	padding-top: 30px;
	position: relative;
	}
.video-responsive iframe, .video-responsive object, .video-responsive embed {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	}